<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-room">
    チャットを作成する
  </div>
</div>

<div class="rooms">
  <div class="room">
    techroom1
  </div>
  <div class="room">
    techroom2
  </div>
</div> 
 
 
 
 